<p class="welcome">Hello <fb:name uid="<%= @facebook_id %>" />, welcome to Github on Facebook!</p>

<% form_tag 'users/create' do %>
    <%= error_messages_for 'user' %>
    <fieldset>
        <legend>Add Github User</legend>
        <ol>
            <li>
                <label for="user_github_name">Github name:</label>
                <%= text_field :user, :github_name, :size => 20 %>
            </li>
            <li>
                <input type="submit" value="Add &raquo;" />
            </li>
        </ol>
    </fieldset>
<% end %>

<% unless @users.empty? %>
    <table>
        <caption>Github Accounts</caption>
        <thead>
            <tr>
                <th>Name</th>
                <th>Repositories</th>
            </tr>
        </thead>
        <tbody>
            <% @users.each do |user| %>
                <tr>
                    <td>
                        <%= editable_content(
                            :content => {
                              :element => 'span',
                              :text => user.github_name,
                              :options => {
                                :id => "user_edit_#{user.facebook_id}_#{user.github_name}",
                                :class => 'editable-content'
                              }
                             },
                            :url => {
                              :controller => 'users',
                              :action => 'update',
                              :github_name => user.github_name
                             },
                            :ajax => {
                              :okText => "'Confirm Github name edit'",
                              :cancelText => "'Nevermind'"
                             }
                        ) %><br />
                        <%= link_to 'Delete', :action => :delete,
                            :github_name => user.github_name %>
                    </td>
                    <td>
                        <dl>
                            <% user.repositories.each do |repos| %>
                                <dt><%= link_to repos.name, repos.url %>
                                (<%= repos.watchers %>w, <%= repos.forks %>f,
                                <%= repos.open_issues %>i)</dt>
                                <dd>&ldquo;<%= repos.description %>&rdquo;</dd>
                            <% end %>
                        </dl>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
    
    <h2>Repository Key:</h2>
    <p>w = watchers, f = forks, i = open issues</p>
<% end %>
