<p class="welcome">Hello <fb:name uid="<%= @facebook_id %>" />, welcome to Github on Facebook!</p>

<% form_tag 'users/create' do %>
    <%= hidden_field :user, :facebook_id %>
    <fieldset>
        <legend>Add Github User</legend>
        <ol>
            <li>
                <label for="user_github_name">Github name:</label>
                <%= text_field :user, :github_name, :size => 20 %>
            </li>
            <li>
                <input type="submit" value="Add &raquo;" />
            </li>
        </ol>
    </fieldset>
<% end %>

<% unless @users.empty? %>
    <table>
        <caption>Github Accounts</caption>
        <thead>
            <tr>
                <th>Name</th>
                <th>Repositories</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            <% @users.each do |user| %>
                <tr>
                    <td><%= user.github_name %></td>
                    <td></td>
                    <td>
                        <%= link_to 'Edit', :action => :edit, :facebook_id => user.facebook_id, :github_name => user.github_name %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
<% end %>